{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}Upload Policy Document{% endblock %}

{% block bodyAttributes %}{% if processingId %} data-processing-id="{{ processingId }}"{% endif %}{% endblock %}

{% block content %}
<h1 class="govuk-heading-m">Upload a Document to Generate AI-Powered Insights</h1>
<form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data" onsubmit="document.getElementById('submitButton').disabled = true; document.getElementById('loadingMessage').style.display = 'block';">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Prompt analysis type
      </legend>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="analysisType-red" name="analysisType" type="radio" value="red" {% if not analysisType or analysisType == 'red' %}checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="analysisType-red">
            Red book
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="analysisType-green" name="analysisType" type="radio" value="green" {% if analysisType == 'green' %}checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="analysisType-green">
            Green book
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="policyPdf">Select PDF file</label>
    <div class="file-selection-area">
      <input class="govuk-file-upload" id="policyPdf" name="policyPdf" type="file" accept="application/pdf" required>
      <div id="fileSpinner" class="spinner" style="display: none;"></div>
    </div>
  </div>
  {{ govukButton({ text: "Summarise", attributes: { type: "submit", id: "submitButton" } }) }}
  <div id="loadingMessage" class="govuk-inset-text" style="display: none;">
    <div class="spinner" style="display: inline-block; margin-right: 10px;"></div>
    Processing PDF... Please wait...
  </div>
</form>
<div id="fileInfo" style="margin-top:1em; display:none;">
  <strong>Selected file:</strong> <span id="fileName"></span>
</div>



<!-- pdf-progress.js removed -->

{% endblock %}